#!/bin/bash
watch_file uv.lock
if [[ ! -f .venv/bin/activate ]]; then
  uv venv --system-site-packages
  uv sync --all-extras
fi
uv export --all-extras --no-editable --no-hashes --output-file requirements.txt --quiet
# shellcheck disable=SC1091
source .venv/bin/activate
